  {{> header}}

<div id="mainpage">
  <div id= "feed">
    <div class = "cheep newcheep" user="{{currentuser}}">
    <form id="newcheep">
      <textarea name="in_cheep" id="in_cheep" placeholder="Say something cheep, {{currentuser}}..."></textarea>
      <button class="send" type="submit" id="cheepbutton">Cheep!</button>
    </form>

    </div>
    {{#each cheeps}}
    <div class="cheep" user="{{this.username}}" id="{{this._id}}">
      <b>{{this.username}} said... </b> <button type="button">Delete</button>
      <p>{{this.words}}</p>
    </div>
    {{/each}}
  </div>

  <div id="users">
  {{#each users}}
  <div class="user" user="{{this.username}}">
    <b>{{this.username}}</b>
  </div>
  {{/each}}
  </div>

</div>

