<h1>TITLE!</h1>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Inventory <span class="badge">{{ingredient.length}}</span></legend>

<!-- Appended Input-->
{{#each ingredient}}
<div class="form-group">
  <label class="col-md-4 control-label" for="appendedtext">{{this.name}}</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="appendedtext" name="appendedtext" class="form-control" placeholder={{this.quantity}} type="text">
      <span class="input-group-btn"><button class="btn btn-default" type="button">Update Quantity</button></span>
      <input id="appendedtext" name="appendedtext" class="form-control" placeholder=${{this.price}} type="text">
      <span class="input-group-btn"><button class="btn btn-default" type="button">Update Price</button></span>
    </div>
    <p class="help-block"><button class="textbutton">Out of Stock?</button></p>
  </div>
</div>
{{/each}}
<div class="form-group">
  <label class="col-md-4 control-label" for="appendedtext">{</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="appendedtext" name="appendedtext" class="form-control" placeholder={{this.quantity}} type="text">
      <span class="input-group-btn"><button class="btn btn-default" type="button">Update Quantity</button></span>
    </div>
    <p class="help-block"><button class="textbutton">Out of Stock?</button></p>
  </div>
</div>
</fieldset>
</form>
<!-- Inputs: for each ingredient: name, price, quantity -->
