<h1><a href="/">Jessica's Burgers</h1></a>
<form class="form-horizontal" id = 'inventory'>
  <fieldset>

    <!-- Form Name -->
    <legend>Inventory <span class="badge">{{ingredient.length}}</span></legend>

    <!-- Appended Input-->
    {{#each ingredient}}
    <div class="form-group">
      <label class="col-md-4 control-label" for="appendedtext">{{this.name}}</label>
      <div class="col-md-4" id="inventorylist">
        <div class="input-group">
          <input id={{this._id}} class="form-control quantity" placeholder={{this.quantity}} type="text">
          <span class="input-group-btn"><button class="btn btn-default quantity" id={{this._id}} type="button">Update Quantity</button></span>
          <input id={{this._id}} class="form-control price" placeholder=${{this.price}} type="text">
          <span class="input-group-btn"><button class="btn btn-default price" id={{this._id}} type="button">Update Price</button></span>
        </div>
        <p class="help-block"><button id={{this._id}} class="textbutton">Out of Stock?</button></p>
      </div>
    </div>
    {{/each}}

    </fieldset>
    </form>
    <form class="form-horizontal" id="addnewitemform">
    <fieldset>
    <div class="form-group">
      <label class="col-md-3 control-label" for="appendedtext">Add New Ingredient</label>
      <div class="col-md-6">
        <div class="input-group">
        <input id="nquanin" class="form-control" placeholder='Quantity' type="text">
          <span class="input-group-addon">Enter new item quantity</span>
          <input id="npricein" class="form-control" placeholder="Price" type="text">
        <span class="input-group-addon">Enter new item price</span>
        <input id="nnamein" class="form-control" placeholder='Name' type="text">
          <span class="input-group-addon">Enter new item's name</span>
        </div>
        <button class="btn btn-success btn-small" id="addnewbtn" type="submit">Add new ingredient</button>
      </div>
    </div>
  </fieldset>
</form>

<!-- input and button ids are mongo object ids -->
<!-- "quantity" and "price" are  -->
